html, body {
    color: white;
    background-color: #21232A;
    font-family: Arial;
    font-size: 1.3rem;
    padding: 1rem;
}

button {
    font-size: 1.3rem;
    padding: 10px;
    margin-right: 10px;
    background-color: yellowgreen;
}